<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="quanLyktx.Properties.Settings.QUANLYKTXConnectionString"
            connectionString="Data Source=LAPTOP-4ARHVR0P\SIUUUUUUUU;Initial Catalog=QUANLYKTX;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>